<!DOCTYPE html>
<html>

<head>
    <title>Exemplos Spring - Exemplo 04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Exemplo 04</h1>

    <form action="">
        <label for="n1">n1</label>
        <input type="number" name="n1" id="n1" th:value="${param.n1}">


        <label for="n2">n2</label>
        <input type="number" name="n2" id="n2" th:value="${param.n2}">

        <button type="submit">Calcular</button>

        </span> = <span th:text="${resultado}"></span>
    </form>
</body>

</html>